<%content_for :head do %>
  <script type='text/javascript'>
    window.appid      = <%= raw (@sign_hash[:appid]).to_json %>;
    window.noncestr   = <%= raw (@sign_hash[:noncestr]).to_json %>;    
    window.timestamp  = <%= raw (@sign_hash[:timestamp]).to_json %>;
    window.url        = <%= raw (@sign_hash[:url]).to_json %>;
    window.signure    = <%= raw (@sign_hash[:signure]).to_json %>;
    wx.config({
        debug: false,
        appId: window.appid,
        timestamp: window.timestamp,
        nonceStr: window.noncestr,
        signature: window.signure,
        jsApiList: ['onMenuShareTimeline','onMenuShareAppMessage']
    }) 


    $(function(){
      document.querySelector('a.share-friend').onclick = function () {
        wx.onMenuShareAppMessage({
          title: '互联网之子',
          desc: '在长大的过程中，我才慢慢发现，我身边的所有事，别人跟我说的所有事，那些所谓本来如此，注定如此的事，它们其实没有非得如此，事情是可以改变的。更重要的是，有些事既然错了，那就该做出改变。',
          link: 'http://movie.douban.com/subject/25785114/',
          imgUrl: 'http://demo.open.weixin.qq.com/jssdk/images/p2166127561.jpg',
          trigger: function (res) {
            alert('用户点击发送给朋友');
          },
          success: function (res) {
            alert('已分享');
          },
          cancel: function (res) {
            alert('已取消');
          },
          fail: function (res) {
            alert(JSON.stringify(res));
          }
        });
        alert('已注册获取“发送给朋友”状态事件');
      };

      document.querySelector('a.share-quan').onclick = function () {
        wx.onMenuShareTimeline({
          title: '互联网之子',
          link: 'http://movie.douban.com/subject/25785114/',
          imgUrl: 'http://demo.open.weixin.qq.com/jssdk/images/p2166127561.jpg',
          trigger: function (res) {
            alert('用户点击分享到朋友圈');
          },
          success: function (res) {
            alert('已分享');
          },
          cancel: function (res) {
            alert('已取消');
          },
          fail: function (res) {
            alert(JSON.stringify(res));
          }
        });
        alert('已注册获取“分享到朋友圈”状态事件');
      };
    })









  </script>
<% end %>
<a href="javascript:void(0);" class='products share share-friend'>分享给朋友</a>
<a href="javascript:void(0);" class='products share share-quan'>分享到朋友圈</a>